@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.b-home__container {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1366px;
    min-width: 1366px;
    border: 1px solid #f0f0f0;
}

.b-home__header {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
}

.b-home-header__logo {
    float: left;
    width: 185px;
    height: 22px;
    margin-left: 98px;
    margin-top: 63px;
}

.b-home-header__menu {
    list-style-type: none;
    float: left;
    margin-left: 380px;
    margin-top: 60px;
}

.b-home-header__menu li {
    display: inline-block;
    padding: 0px 15px;
}

.b-home-header__menu li a {
    text-decoration: none;
}

.b-home-header-menu__item a {
    color:  #8c8c8c;
    font-weight: 700;    
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.b-home-header-menu__item:hover {
    border-bottom: 4px solid gray;
}

.b-home-header-menu__item:hover a {
    color:  gray;
    font-weight: 700;
}

.b-home-header-menu__item_selected {
    border-bottom: 4px solid black;
}

.b-home-header-menu__item_selected a, 
.b-home-header-menu__item_selected:hover a {
    color:  #212121;
    font-weight: 700;    
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.b-home-header__search {
    display: inline-block;
    margin-left: 10px;
    margin-top: 65px;
}


.b-home-header__text {
    width: 458px;
    margin-left: 98px;
    margin-top: 288px;
}

.b-home-header__text h3 {
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
}

.b-home-header__text h1 {
    color:  #212121;
    font-size: 56px;
    font-weight: 200;
    text-transform: uppercase;
}

.b-home-header__text p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.b-home-header__text a {
    display: block;
    text-decoration: none;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 22px;
    margin-top: 32px;
}

.b-home-header__text a:hover {
    color:  #212121;
    text-decoration: none;
    background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}
    
.b-home-header__text a:active {
    color:  #212121;
    text-decoration: none;
    box-shadow: none;
}
    
.b-home-header__navi {
    float: left;
    margin-top: 132px;
    margin-left: 623px;
}

.b-home-header__navi_active {
    margin-top: 132px;
    margin-left: -80px;
}

.b-home__featured-new {
    height: 609px;
    clear: both;
}

.b-home-featured-new__menu {
    float: left;
    list-style-type: none;
    margin-left: 98px;
    margin-top: 120px;
}

.b-home-featured-new__menu li {
    float: left;
}

.b-home-featured-new__menu li a {
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
}

.b-home-featured-new-menu__item {
    padding: 0 10px 10px;
    border-bottom: 1px solid gray;
}

.b-home-featured-new-menu__item a, 
.b-home-featured-new-menu__item:hover a {
    color:  #6c6c6c;
}

.b-home-featured-new-menu__item_selected {
    padding: 0 10px 7px;
    border-bottom: 4px solid black;
}

.b-home-featured-new-menu__item_selected a,
.b-home-featured-new-menu__item_selected:hover a {
    color:  #212121;
}

.b-home__featured-new h3 {
    float: right;
    margin-right: 97px;
    margin-top: 137px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.b-home-featured-new__products {
    float: left;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 98px;
    margin-top: 50px;
}

.b-home-featured-new__products li {
    margin-right: 30px;
}

.b-home__promo-1 img {
    min-width: 683px;
    margin-left: -15px;
}

.b-home__trending {
    height: 1108px;
}

.b-home__trending h1 {
    float: left;
    margin-left: 98px;
    margin-top: 119px;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
}

.b-home__trending h3 {
    float: right;
    margin-right: 97px;
    margin-top: 137px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.b-home-trending__products {
    list-style-type: none;
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 98px;
    margin-top: 64px;
}

.b-home-trending__products li {
    margin-right: 30px;
    margin-bottom: 30px;
}

.b-home__hot-deal {
    min-height: 800px;
    background-image: url(../img/hot-deal_back-img.png);
}

.b-home-hot-deal__text {
    float: left;
    width: 458px;
    margin-left: 99px;
    margin-top: 287px;
}

.b-home-hot-deal__text h3 {
    color:  #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.b-home-hot-deal__text h1 {
    color:  #212121;
    font-size: 56px;
    font-weight: 200;
    text-transform: uppercase;
}

.b-home-hot-deal__text p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.b-home-hot-deal__text a {
    display: block;
    text-decoration: none;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 22px;
    margin-top: 32px;
}

.b-home-hot-deal__text a:hover {
    color:  #212121;
    text-decoration: none;
    background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}
    
.b-home-hot-deal__text a:active {
    color:  #212121;
    text-decoration: none;
    box-shadow: none;
}
    
.b-home-hot-deal__navi {
    clear: both;
    float: left;
    margin-top: 192px;
    margin-left: 623px;
}

.b-home-hot-deal__navi_active {
    float: left;
    margin-top: 192px;
    margin-left: -80px;
}

.b-home__promo-2 {
    height: 810px;
    margin-left: 83px;
    margin-top: 120px;
}

.b-home__promo-2 img {
    margin-bottom: 30px;
}

.b-home__promo-2 .last {
    padding-left: 25px;
}

.b-home__promo-2 > [class="col-md-6"] {
    margin: 0 30px !important;
}

.b-home-promo-2__text {
    width: 570px;
    height: 570px;
    background-image: url(../img/product-1-sm.jpg);
}

.b-home-promo-2__text h3 {
    float: left;
    margin-left: 31px;
    margin-top: 186px;
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.b-home-promo-2__text h1 {
    clear: both;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 32px;
}

.b-home-promo-2__text p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 332px;
    margin-left: 31px;
}

.b-home-promo-2__text a {
    display: block;
    text-decoration: none;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 22px;
    margin-top: 32px;
    margin-left: 31px;
}

.b-home-promo-2__text a:hover {
    color:  #212121;
    text-decoration: none;
    background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}
    
.b-home-promo-2__text a:active {
    color:  #212121;
    text-decoration: none;
    box-shadow: none;
}

.b-home__mobile-app {
    margin-top: -105px;
    height: 516px;
    background-image: url(../img/mobile-app_back-img.png);
}


.b-home-mobile-app__text {
    float: left;
    max-width: 535px;
    margin-left: 99px;
    margin-top: 125px;
}

.b-home-mobile-app__text h3 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.b-home-mobile-app__text h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    margin-left: 7px;
    text-transform: uppercase;
}

.b-home-mobile-app__text p {
    color:  #6c6c6c;
    font-size: 22px;
    font-weight: 300;
}

.b-home-mobile-app__text img {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.b-home-footer__clr {    
    height: 384px;
}

.b-home__footer {
    background-color:  #f7f7f7;
    max-width: 1366px;
    min-width: 700px;
    height: 384px;
    margin: -384px auto 0;
}

.b-home-footer__info {
    padding-top: 120px;
}

.b-home-footer__info h1 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.b-home-footer__info p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
}

.b-home-footer__info ol {
    list-style-type: none;
}

.b-home-footer__info ol li {
    display: block;
    margin-bottom: 5px;
}

.b-home-footer__info ol li a {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.b-home-footer__info h5 {
    float: left;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3px;
    text-decoration: none;
}

.b-home-footer__info h6 {
    border-width: 1px;
    border-color:  #d9dee1;
    border-style: solid;
    background-color:  #ffffff;
    width: 368px;
    height: 46px;
}

.b-home-footer__info input {
    padding-left: 15px;
    border-style: hidden;
    background-color: transparent;
    height: 44px;
    width: 368px;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    position: relative;
    z-index: 1;
}

.b-home-footer__info a img {
    float: right;
    margin-top: -40px;
    margin-right: 5px;
    position: relative;
    z-index: 2;
}

.b-home-footer__legal {
    margin-top: 54px;
    text-align: center;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    font-variant: small-caps;
}